.card {
    box-shadow: 0 0 15px 3px #00000010;
    width: 400px;
    height: 600px;
    border-radius: 15px;
    padding: 20px 30px;
    transition: 0.2s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    &:hover {
        box-shadow: 0 0 15px 3px #00000020;
    }

    @media only screen and (max-width: 768px) {
        width: 300px;
        height: 500px;
    }

    .text-container {
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;

        .title {
            font-size: 1.5em;
            font-weight: 600;
            letter-spacing: -1px;
            width: 100%;
        }

        .name {
            font-size: 1.5em;
            font-weight: 600;
            color: #999;
            // box-shadow: 0 0 15px 3px #00000020;
            letter-spacing: -1px;
            // padding: 10px 15px;
            // border-radius: 5px;
        }
    }
    

    .img-container {
        border-radius: 100%;
        height: 250px;
        width: 250px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            border-radius: 100%;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .control-panel {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;

        svg {
            transform: scale(1.1);
        }
    }

    .my-btn {
        cursor: pointer;
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        background: transparent;
        box-shadow: 0 0 15px 3px #00000020;
        border: none;
        font-weight: 600;
        border-radius: 15px;
        font-family: "Montserrat", sans-serif;
        transition: 0.1s ease-in-out;
    }
    
}