.dark-mode {
    background: #212121;
    color: #f6f6f6;
}

.light-mode {
    background: #f6f6f6;
    color: #212121;
}

button:focus {
    outline: none;
}

.section {
    min-height: 100vh;
}

.align-center {
    display: flex;
    align-items: center;
    justify-content: center;
}